<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umbra.allApps">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Проверяем состояние интернета-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--разрешения есть трех уровней:
    1 - по умолчани
    2 - гарантированные разрениения
    3 - -->
    <!--ДЛя ГПС данных-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".main.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.umbra.allApps.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.umbra.allApps.HW01.Activity_HomeWork01" />
        <activity android:name="com.example.umbra.allApps.CW02.Activity_ClassWork02" />
        <activity android:name="com.example.umbra.allApps.CW03.Activity_ClassWork03" />
        <activity android:name="com.example.umbra.allApps.CW04.Activity_ClassWork04" />
        <activity android:name="com.example.umbra.allApps.CW05.Activity_ClassWork05" />
        <activity android:name="com.example.umbra.allApps.CW06.Activity_ClassWork06" />
        <activity android:name="com.example.umbra.allApps.CW07.Activity_ClassWork07" />
        <activity android:name="com.example.umbra.allApps.CW08.Activity_ClassWork08" />
        <activity android:name="com.example.umbra.allApps.CW09.Activity_ClassWork09" />
        <activity android:name="com.example.umbra.allApps.CW12.Activity_ClassWork12" />
        <activity android:name=".HW02.Activity_HomeWork02" />
        <activity android:name=".HW03.Activity_HomeWork03" />
        <activity android:name=".HW04.Activity_HomeWork04" />
        <activity android:name=".HW05.Activity_HomeWork05" />
        <activity android:name=".HW06.Activity_HomeWork06" />
        <activity android:name=".HW07.Activity_HomeWork07" />
        <activity android:name=".HW09.Activity_HomeWork09" />

        <!--<receiver android:name=".CW05.MyBroadCastReciever">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name=".CW05.MyService" />
        <service android:name=".CW05.MyIntentService"/>



        <!--<receiver android:name=".HW05.HomeWorkBroadCastReciever">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".HW05.HomeWorkBroadCastReciever"/>
        <service android:name=".HW05.HomeWorkService"/>

    </application>

</manifest>